@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #ffffff;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.bold {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.bold_nom {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-top: 10%;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 280px;
  background: #e11e45;
}

.resume .resume_left .resume_profile {
  width: 93%;
  height: 260px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.resume .resume_left .resume_profile img {
  width: 80%;
  height: 100%;
  transform: rotate(90deg);
  border-radius: 50%;
  border-style: solid;
  border-width: 10%;
  border-color: #ffffff;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #ffffff;
  margin-top: 20px;
}

.resume .resume_left .regular {
  text-align: center;
  color: #b1eaff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 16px;
  position: relative;
}
.interet .skill_name {
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: rgb(131, 58, 180);
  padding: 25px;
}

.resume .resume_right .bold {
  color: #0bb5f4;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #ffffff;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}



.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}



.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}
